.btn-border {
    border-radius: 20px !important;
    margin-right: 2px;
    /* background-color: transparent !important; */
}

body{
    background-color:#305767;
    color: aliceblue;
    text-decoration: white;
}

