 .content {
    flex-grow: 1;
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.buttonGroup {
    display: flex;
    align-items: center;
}

button.btn-border {
    border: 1px solid #ccc;
}

.dataGridContainer {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataGridWrapper {
    height: 350px;
    margin-left: 2%;
    width: 95%;
    flex-grow: 1;
}
